RewriteEngine On

# Rediriger les pages de contrôleurs respectives
RewriteRule ^(index|login|register|film|serie|profile)$ index.php?r=$1 [QSA,L]

# Règle pour les détails de film ou série avec ID et type
RewriteRule ^detail/([0-9]+)/([a-zA-Z]+)$ index.php?r=detail&id=$1&type=$2 [QSA,L]

# Redirection vers la page 404 pour les fichiers/dossiers inexistants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php?r=404Erreur [L]
